/* 여기부터 하이루프 모바일 */
@media (max-width:450px) {

    #sec01 .hi-txt h2{
        font-size: 30px;
        top: 70%;
    }

    #sec02{
        border-top: 4px solid #d5d5d5;
        text-align: center;
    }

    #sec02 .hiroof-main-txt p{
        text-align: left;
        font-size: 10px;
    }

    #sec02 .img01{
        margin-bottom: 10px;
    }

    #sec02 #sign{
        display: block;
        margin-bottom: 100px;
    }
    

    #sec02 .img01-1 img:first-of-type{
        margin-right: 2px;
    }

    #sec02 #not-sign{
        display: flex;
    }

    #sec02 #sign img{
        width: 215px;
        height: 125px;
    }

    #sec02 .m-sign{
        display: none;
    }

    .inch{
        font-size: 50px;
    }
}